USE [master]
GO
/****** Object:  Database [DBFitnessClub]    Script Date: 17.02.2024 21:27:55 ******/
CREATE DATABASE [DBFitnessClub]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FitnessClub', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FitnessClub.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FitnessClub_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FitnessClub_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBFitnessClub].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBFitnessClub]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 17.02.2024 21:27:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[ID branch] [int] NOT NULL,
	[BranchName] [nvarchar](50) NOT NULL,
	[TelephoneNumber] [nvarchar](50) NOT NULL,
	[VisitScheduleID] [int] NOT NULL,
 CONSTRAINT [PK_Branches] PRIMARY KEY CLUSTERED 
(
	[ID branch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FitnessClub]    Script Date: 17.02.2024 21:27:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FitnessClub](
	[ID visitor] [int] NOT NULL,
	[FirstFamilyName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[RegistrationDate] [date] NOT NULL,
	[NumberOfVisits] [int] NULL,
	[SectionID] [int] NOT NULL,
 CONSTRAINT [PK_FitnessClub] PRIMARY KEY CLUSTERED 
(
	[ID visitor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sections]    Script Date: 17.02.2024 21:27:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sections](
	[ID section] [int] NOT NULL,
	[SectionName] [nvarchar](50) NOT NULL,
	[BranchID] [int] NOT NULL,
 CONSTRAINT [PK_Sections] PRIMARY KEY CLUSTERED 
(
	[ID section] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StartTimes]    Script Date: 17.02.2024 21:27:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StartTimes](
	[ID start time] [int] NOT NULL,
	[StartTime] [time](7) NOT NULL,
 CONSTRAINT [PK_StartTimes] PRIMARY KEY CLUSTERED 
(
	[ID start time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trainers]    Script Date: 17.02.2024 21:27:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trainers](
	[ID trainer] [int] NOT NULL,
	[TrainerFamilyName] [nvarchar](50) NOT NULL,
	[TrainerName] [nvarchar](50) NOT NULL,
	[TrainerPatronymic] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Trainers] PRIMARY KEY CLUSTERED 
(
	[ID trainer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainerSection]    Script Date: 17.02.2024 21:27:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainerSection](
	[ID] [int] NOT NULL,
	[TrainerID] [int] NOT NULL,
	[SectionID] [int] NOT NULL,
 CONSTRAINT [PK_TrainerSection] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitSchedules]    Script Date: 17.02.2024 21:27:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitSchedules](
	[ID visit schedule] [int] NOT NULL,
	[DayOfWeek] [nvarchar](50) NOT NULL,
	[StartTimeID] [int] NOT NULL,
 CONSTRAINT [PK_VisitSchedules] PRIMARY KEY CLUSTERED 
(
	[ID visit schedule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Branches]  WITH CHECK ADD  CONSTRAINT [FK_Branches_VisitSchedules] FOREIGN KEY([VisitScheduleID])
REFERENCES [dbo].[VisitSchedules] ([ID visit schedule])
GO
ALTER TABLE [dbo].[Branches] CHECK CONSTRAINT [FK_Branches_VisitSchedules]
GO
ALTER TABLE [dbo].[FitnessClub]  WITH CHECK ADD  CONSTRAINT [FK_FitnessClub_Sections] FOREIGN KEY([SectionID])
REFERENCES [dbo].[Sections] ([ID section])
GO
ALTER TABLE [dbo].[FitnessClub] CHECK CONSTRAINT [FK_FitnessClub_Sections]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_Sections_Branches] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branches] ([ID branch])
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_Sections_Branches]
GO
ALTER TABLE [dbo].[TrainerSection]  WITH CHECK ADD  CONSTRAINT [FK_TrainerSection_Sections] FOREIGN KEY([SectionID])
REFERENCES [dbo].[Sections] ([ID section])
GO
ALTER TABLE [dbo].[TrainerSection] CHECK CONSTRAINT [FK_TrainerSection_Sections]
GO
ALTER TABLE [dbo].[TrainerSection]  WITH CHECK ADD  CONSTRAINT [FK_TrainerSection_Trainers] FOREIGN KEY([TrainerID])
REFERENCES [dbo].[Trainers] ([ID trainer])
GO
ALTER TABLE [dbo].[TrainerSection] CHECK CONSTRAINT [FK_TrainerSection_Trainers]
GO
ALTER TABLE [dbo].[VisitSchedules]  WITH CHECK ADD  CONSTRAINT [FK_VisitSchedules_StartTimes] FOREIGN KEY([StartTimeID])
REFERENCES [dbo].[StartTimes] ([ID start time])
GO
ALTER TABLE [dbo].[VisitSchedules] CHECK CONSTRAINT [FK_VisitSchedules_StartTimes]
GO
USE [master]
GO
